# Created by https://www.toptal.com/developers/gitignore/api/angular,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=angular,visualstudiocode

### Angular ###
## Angular ##
# compiled output
